{
  "bot_token": "<BOT_TOKEN>",
  "chat_credentials": {
    "<CHAT_ID_1>": {
      "email": "<EMAIL_1>",
      "password": "<PASSWORD_1>"
    },
    "<CHAT_ID_2": {
      "email": "<EMAIL_2>",
      "password": "<PASSWORD_2>"
    }
  }
}
